@charset "UTF-8";
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* readex-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/readex-pro-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  padding: 0 73px;
}

.swiper-pagination-bullet {
  width: 194px; /* Длина полосы */
  height: 2px; /* Толщина полосы */
  background-color: #fff; /* Цвет неактивной полосы */
  margin: 0 17px !important;
  position: relative;
  overflow: hidden;
  border-radius: 1px; /* Закругления краев (если нужно) */
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000; /* Цвет заполнения активной полосы */
  -webkit-animation: progress 5s linear forwards;
          animation: progress 5s linear forwards; /* Анимация заполнения */
}

.pagination {
  margin-bottom: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 14px; /* Устанавливаем ширину */
  height: 26px; /* Устанавливаем высоту */
  margin: 0 15px;
  /* Изменение размеров стрелок внутри кнопок */
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px; /* Изменяем размер стрелки */
  color: #000;
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Readex Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  padding: 32px 0;
  position: absolute;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  position: relative;
}
.header__nav-item:hover > ul {
  display: block;
  z-index: 2;
}
.header__nav-item-link {
  font-family: "Inter";
  color: #000;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__nav-item-link:hover {
  color: #dce5e2;
}
.header__nav-inner-list {
  position: absolute;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px;
  background-color: white;
}
.header__nav-inner-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 7px;
  height: 25px;
}
.header__nav-inner-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.header__nav-inner-link {
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-inner-link:hover {
  color: #dce5e2;
}
.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.header__icon-logo {
  width: 170px;
  height: 21px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.header__icon-logo:hover {
  fill: #dce5e2;
}
.header__icon-cart {
  width: 26px;
  height: 30px;
  cursor: pointer;
}
.header__icon-search {
  cursor: pointer;
}
.header__icon-search > div {
  display: inline-block;
  position: relative;
}
.header__icon-search > div:after {
  content: "";
  background: #000;
  width: 2px;
  height: 9px;
  position: absolute;
  top: 19px;
  right: 1px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header__icon-search > div > input {
  color: black;
  font-size: 12px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 5px;
  border: solid 2px black;
  outline: none;
  border-radius: 14px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  cursor: pointer;
}
.header__icon-search > div > input::-webkit-input-placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
.header__icon-search > div > input::-moz-placeholder {
  color: black;
  opacity: 0;
  -moz-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
.header__icon-search > div > input:-ms-input-placeholder {
  color: black;
  opacity: 0;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
.header__icon-search > div > input::-ms-input-placeholder {
  color: black;
  opacity: 0;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
.header__icon-search > div > input::placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
.header__icon-search > div > input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.header__icon-search > div > input:focus::-moz-placeholder {
  opacity: 1;
}
.header__icon-search > div > input:focus:-ms-input-placeholder {
  opacity: 1;
}
.header__icon-search > div > input:focus::-ms-input-placeholder {
  opacity: 1;
}
.header__icon-search > div > input:focus::placeholder {
  opacity: 1;
}
.header__icon-search > div > input:not(:-moz-placeholder-shown) {
  width: 125px;
  cursor: auto;
}
.header__icon-search > div > input:not(:-ms-input-placeholder) {
  width: 125px;
  cursor: auto;
}
.header__icon-search > div > input:focus, .header__icon-search > div > input:not(:placeholder-shown) {
  width: 125px;
  cursor: auto;
}

.hero-section {
  padding: 108px 0 37px;
}

.swiper-wrapper__custom-container {
  background-color: #dce5e2;
  border-radius: 32px;
}

.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.slide-text {
  padding: 0 65px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.slide-text__title {
  font-size: 58px;
  font-weight: 400;
  margin-bottom: 19px;
}
.slide-text__description {
  font-family: "Inter";
  font-size: 16px;
  margin-bottom: 30px;
}
.slide-text__button {
  width: 170px;
  height: 50px;
  background-color: transparent;
  font-size: 18px;
  font-family: "Inter";
  border-radius: 32px;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.slide-text__button:hover {
  background-color: white;
}

.categories-section {
  padding: 36px 0;
}
.categories-section__title {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 9px;
  text-align: center;
}
.categories-section__description {
  text-align: center;
  max-width: 628px;
  margin: 0 auto 55px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.categories__first-section-laptop {
  padding: 0 42px;
  text-align: center;
  border-radius: 32px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.categories__first-section-laptop-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.categories__first-section-laptop__title {
  font-family: "Inter";
  font-size: 15px;
  text-align: right;
  color: #000;
}
.categories__first-section-laptop__desc {
  font-size: 32px;
  text-align: right;
  max-width: 192px;
  color: #000;
}
.categories__first-section-laptop:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.categories__first-section-watch {
  margin-top: 16px;
  padding: 0 42px;
  border-radius: 32px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.categories__first-section-watch a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
}
.categories__first-section-watch-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.categories__first-section-watch__title {
  font-family: "Inter";
  font-size: 15px;
  text-align: right;
  color: #000;
}
.categories__first-section-watch__desc {
  font-size: 32px;
  text-align: right;
  max-width: 128px;
  color: #000;
}
.categories__first-section-watch:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.categories__second-section-phone {
  padding: 118px 0;
  border-radius: 32px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.categories__second-section-phone-img {
  margin: 0 0 60px 16px;
}
.categories__second-section-phone-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categories__second-section-phone__title {
  font-family: "Inter";
  font-size: 15px;
  text-align: right;
  color: #000;
}
.categories__second-section-phone__desc {
  font-size: 32px;
  text-align: center;
  max-width: 250px;
  color: #000;
}
.categories__second-section-phone:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.categories__third-section-tablet {
  padding: 98px 0;
  border-radius: 32px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.2509803922);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.categories__third-section-tablet-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}
.categories__third-section-tablet__title {
  font-family: "Inter";
  font-size: 15px;
  text-align: center;
  color: #000;
}
.categories__third-section-tablet__desc {
  font-size: 32px;
  text-align: center;
  max-width: 233px;
  color: #000;
}
.categories__third-section-tablet:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.popular-items-section {
  padding: 36px 0;
}
.popular-items-section__title {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 9px;
}
.popular-items-section__description {
  text-align: center;
  font-size: 13px;
  margin-bottom: 31px;
}
.popular-items-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popular-items-section__list-item {
  width: 303px;
  padding: 15px;
  height: auto;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popular-items-section__list-item:hover {
  -webkit-box-shadow: 0px 0px 30px #000;
          box-shadow: 0px 0px 30px #000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.popular-items-section__list-item__title {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  margin-bottom: 9px;
}
.popular-items-section__list-item__description {
  font-family: "Inter";
  color: #4b4b4b;
  margin-bottom: 25px;
}
.popular-items-section__list-item:first-child .popular-items-section__list-item__description {
  margin-bottom: 35px;
}
.popular-items-section__list-item__cost {
  font-size: 18px;
  font-family: "Inter";
  color: #000;
  margin-bottom: 27px;
}
.popular-items-section__list-item img {
  padding: 28px;
  margin: 0 auto 37px;
}

.best-products-section {
  padding: 36px 0;
}
.best-products-section__title {
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 9px;
}
.best-products-section__description {
  font-size: 13px;
  text-align: center;
  margin-bottom: 56px;
}
.best-products-section__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 28px;
}
.best-products-section__card-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fa;
  width: 413px;
  height: 453px;
  border-radius: 16px;
  padding-top: 41px;
}
.best-products-section__card-container-item__description {
  font-size: 13px;
}
.best-products-section__card-container-item__title {
  font-size: 28px;
  margin-bottom: 30px;
}
.best-products-section__card-container-item__btn {
  background-color: transparent;
  font-size: 18px;
  font-family: "Inter";
  padding: 14px 63px;
  border: 1px solid #000;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.best-products-section__card-container-item__btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 1px #000;
          box-shadow: 0 0 15px 1px #000;
}

.ideas-section {
  padding: 36px 0;
}
.ideas-section__title {
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 9px;
}
.ideas-section__description {
  font-size: 13px;
  text-align: center;
  margin-bottom: 56px;
}
.ideas-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  margin-bottom: 73px;
}
.ideas-section__container-text {
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}
.ideas-section__container-text-desc {
  font-size: 24px;
  font-family: "Inter";
}
.ideas-section__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Inter";
  color: #000;
}
.ideas-section__link-img {
  width: 30px;
  height: 28px;
  position: absolute;
}

.search-section {
  padding: 36px 0;
}
.search-section__title {
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}
.search-section__form {
  position: relative;
}
.search-section__input-img {
  width: 30px;
  height: 29px;
}
.search-section-input {
  display: block;
  margin: 0 auto 18px;
  width: 650px;
  height: 50px;
  background-color: #f8f9fa;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 21px 67px;
}
.search-section__input-img {
  position: absolute;
  left: 27.5%;
  top: 6%;
}
.search-section__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 68px;
}
.search-section__offers-container-btn {
  font-family: "Inter";
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 12px 22px;
  cursor: pointer;
  margin-right: 7px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-section__offers-container-btn:last-child {
  margin-right: 0;
}
.search-section__offers-container-btn:hover {
  background-color: #dce5e2;
}
.search-section__mail-container {
  margin: 0 auto;
  background-color: #dce5e2;
  width: 935px;
  height: 450px;
  border-radius: 16px;
  margin-bottom: 19px;
  padding: 47px 0 43px;
}
.search-section__mail-container__title {
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 9px;
}
.search-section__mail-container__desc {
  text-align: center;
  font-size: 16px;
  font-family: "Inter";
  margin-bottom: 14px;
}
.search-section__mail-container__img {
  margin: 0 auto 14px;
  width: 233px;
  height: 200px;
}
.search-section__mail-container__form {
  position: relative;
}
.search-section__mail-container__input {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  font-family: "Inter";
  background-color: #dce5e2;
  border: 1px solid #000;
  border-radius: 54px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 16px 0 16px 32px;
}
.search-section__mail-container-btn {
  background-color: #000;
  color: #fff;
  font-family: "Inter";
  padding: 16px 33px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 54px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  position: absolute;
  top: 0;
  right: 26%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.search-section__mail-container-btn:hover {
  background-color: #fff;
  color: #000;
}

.footer {
  border-top: 2px solid #000;
  padding: 44px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__container-section-logo {
  margin-bottom: 18px;
}
.footer__container-section-text {
  max-width: 304px;
  font-size: 16px;
  font-family: "Inter";
}
.footer__container-section-list__title {
  font-size: 22px;
  margin-bottom: 19px;
}
.footer__container-section-list__link {
  margin-bottom: 14px;
}
.footer__container-section-list__link:last-child {
  margin-bottom: 0;
}
.footer__container-section-list__link a {
  font-family: "Inter";
  font-size: 17px;
  color: #000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__container-section-list__link a:hover {
  color: #dce5e2;
}/*# sourceMappingURL=main.css.map */