.best-products-section {
  padding: 36px 0;

  &__title {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 9px;
  }

  &__description {
    font-size: 13px;
    text-align: center;
    margin-bottom: 56px;
  }

  &__card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 28px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bg-color-grey;
      width: 413px;
      height: 453px;
      border-radius: 16px;
      padding-top: 41px;

      &__description {
        font-size: 13px;
      }

      &__title {
        font-size: 28px;
        margin-bottom: 30px;
      }

      &__btn {
        background-color: transparent;
        font-size: 18px;
        font-family: "Inter";
        padding: 14px 63px;
        border: 1px solid $color-black;
        border-radius: 30px;
        margin-bottom: 30px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: #fff;
          box-shadow: 0 0 15px 1px $color-black;
        }
      }
    }
  }
}
