.header {
  padding: 32px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    gap: 44px;
    position: relative;

    &-item {
      &:hover > ul {
        display: block;
      }
      &-link {
        font-family: "Inter";
        color: $color-black;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: $bg-color-dark_green;
        }
      }
    }

    &-inner {
      &-list {
        position: absolute;
        display: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 12px;
      }

      &-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 7px;
        height: 25px;

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
      }

      &-link {
        color: $color-black;
        transition: all 0.3s;

        &:hover {
          color: $bg-color-dark_green;
        }
      }
    }
    &-icons {
      display: flex;
      gap: 22px;
    }
  }

  &__icon {
    &-logo {
      width: 170px;
      height: 21px;
    }

    &-search,
    &-cart {
      width: 24px;
      height: 24px;
    }
  }
}
