.hero-section {
  padding: 108px 0 37px;
}

.swiper-wrapper__custom-container {
  background-color: $bg-color-dark_green;
  border-radius: 32px;
}

.slide {
  &-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    // gap: 50px;
  }

  &-text {
    padding: 0 65px;
    flex-basis: 50%;

    &__title {
      font-size: 58px;
      font-weight: 400;

      margin-bottom: 19px;
    }

    &__description {
      font-family: "Inter";
      font-size: 16px;
      margin-bottom: 30px;
    }

    &__button {
      width: 170px;
      height: 50px;
      background-color: transparent;
      font-size: 18px;
      font-family: "Inter";
      border-radius: 32px;
      border: 1px solid $color-black;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: white;
      }
    }
  }
}
